body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F3F4F6;
}

.loading {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.loader {
    position: relative;
}

.outer,
.middle,
.inner {
    border: 3px solid transparent;
    border-top-color: #10B981;
    border-right-color: #10B981;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.outer {
    width: 3.5em;
    height: 3.5em;
    margin-left: 1.75em;
    margin-top: 1.75em;
    animation: spin 2s linear infinite;
}

.middle {
    width: 2.1em;
    height: 2.1em;
    margin-left: -1.055em;
    margin-top: -1.05em;
    animation: spin 1.7s linear reverse infinite;
}

.inner {
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.5em;
    margin-top: -0.4em;
    animation: spin 1.5s linear infinite;
}






@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
} 
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}